@page "/toolbar"

@using Microsoft.Fast.Components.FluentUI.DesignTokens;
@inject FillColor FillColor
@inject BaseLayerLuminance BaseLayerLuminance

<div style="padding:10px">
    <FluentToolbar id="toolbar-fluent-components-two" style="width:100%" @ref=Toolbar>

        <FluentButton Appearance="Appearance.Stealth">运行</FluentButton>
        <FluentButton Appearance="Appearance.Stealth">分享代码</FluentButton>

        <div class="textarea-container">
            <FluentButton Appearance="Appearance.Stealth" @onclick=" () => IsInputVisible = !IsInputVisible">控制台输入</FluentButton>
            <div style="display: @DisplayTextArea">
                <textarea @bind="@InputValue"></textarea>
            </div>
        </div>

        <FluentButton Appearance="Appearance.Stealth" @onclick="() =>{MyFluentDialog.Show();}">问问GPT？</FluentButton>

        <FluentButton Appearance="Appearance.Stealth">C#示例代码学习</FluentButton>
        <div class="codesample" style="">
            <FluentSelect Class="below outline" @bind-Value="@comboboxValue" TOption="string">
                <FluentOption Disabled="true" class="group-header">Group 1</FluentOption>
                <FluentOption>Option 1</FluentOption>
                <FluentOption>Option 2</FluentOption>
                <FluentOption Disabled="true" class="group-header">Group 2</FluentOption>
                <FluentOption>Option 3</FluentOption>
                <FluentOption>Option 4</FluentOption>
            </FluentSelect>
        </div>
    </FluentToolbar>
    <FluentBodyContent @onchange="()=>Console.WriteLine(1111)">
        <FluentSplitter  Panel1Size="70%" Panel2Size="30%">

            <Panel1>
                <div style="flex: 1;">
                    <FluentCodeEditor @bind-Value="@Code" Id="editorId"  Language="csharp" IsDarkMode="true">
                    </FluentCodeEditor>
                </div>

            </Panel1>
            <Panel2>
                <div style="flex: 1;">
                    <FluentCodeEditor @bind-Value="@Code" Id="resultId" Language="csharp" IsDarkMode="true">
                    </FluentCodeEditor>
                </div>
            </Panel2>

        </FluentSplitter>
    </FluentBodyContent>
    @code{
        private string Code = "";
        string with = "90";
    }
</div>



<div>
    <FluentDialog @ref="MyFluentDialog" @ondialogdismiss=OnDismiss>
        <FluentStack>
            <FluentButton @onclick="() => MyFluentDialog.Hide()" style="float: right;">Close</FluentButton>
        </FluentStack>
        <FluentBodyContent style="height:80%">
            @foreach (var message in messages) {
                <FluentStack style="@(message.IsSystemMessage ? "system-message" : "user-message")">
                    @if (message.IsSystemMessage) {

                        <div>@((MarkupString)message.Text)</div>
                    }
                    else {
                        <p>@message.Text</p>
                    }
                </FluentStack>
            }
        </FluentBodyContent>
        <FluentFooter>
            <FluentStack>
                <FluentTextField @bind-value="input" ValueExpression="() => input" Placeholder="请输入问题..."></FluentTextField>
                <FluentButton @onclick="SendMessage">发送</FluentButton>
            </FluentStack>
        </FluentFooter>
    </FluentDialog>
</div>


@code {
    private void OnDismiss(DialogEventArgs args) {
        if (args is not null && args.Reason is not null && args.Reason == "dismiss") {
            MyFluentDialog!.Hide();
        }
    }
}

@code {
    private string input = "";
    private FluentDialog? MyFluentDialog;
    private bool showDialog = false;
    private List<Message> messages = new List<Message>();

    private void SendMessage() {
        if (!string.IsNullOrWhiteSpace(input)) {
            messages.Add(new Message { Text = input,Sender = "user" });
            input = "";
        }
    }

    private class Message
    {
        public string Text { get; set; }
        public string Sender { get; set; }
        public bool IsSystemMessage { get; set; }
    }
}


@code {
    /// <summary>
    /// 输入框的值
    /// </summary>
    [Parameter] public string InputValue { get; set; } = string.Empty;
    private bool IsInputVisible = false;
    private string DisplayTextArea => IsInputVisible ? "block" : "none";
    string? comboboxValue;
    FluentToolbar? Toolbar;
    string? value1 = "one", value2="two", value3;
    bool check1;
    string? text1;

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            await FillColor.SetValueFor(Toolbar!.Element,"#333".ToSwatch());
            await BaseLayerLuminance.SetValueFor(Toolbar!.Element,(float)0.15);
            StateHasChanged();
        }
    }
}